<!DOCTYPE html>
<html>
    <head>
        <title>PTS</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <img class="icon" src="https://webdevbootcamp-vkano.c9users.io/image/a39e6f4118fc2711c4af8bb961da9850.png">
                <a href="/residentes" class="item">Residentes</a>
                <a href="/gestores/" class="item">Gestores</a>
                <a href="/startups/" class="item">Startups</a>
                <a href="/universidades/" class="item">Universidades</a>
                <a href="/empresas/" class="item">Empresas</a>
                <a href="/noticias/" class="item">Noticias</a>
                <a href="/agendas/" class="item">Agendas</a>
            </div>
            <a class="ui secondary button" href="/logout">Sair</a>
        </div>