<% include partials/header.ejs %>

<div class="ui main text container segment">
    
    <div class="ui huge header">Cadastrar Agenda</div>
    <form class="ui form" action="/agendas" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Título</label>
            <input type="text" name="agenda[titulo]" placeholder="Título">
        </div>
        <div class="custom-file mb-3">
            <input type="file" name="file" id=file class="custom-file-input">
            <label for="file" class="custom-file-label">Choose File</label>
        </div>
        <div class="field">
            <labe>Corpo</labe>
            <textarea name="agenda[desc]"></textarea>
        </div>
        <input class="ui purple big basic button" type="submit">
        
    </form>
</div>

<% include partials/footer.ejs %>