<!DOCTYPE html>
<html>
    <head>
        <title>PTS</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
    <div class="ui column stackable center page grid">
        <div class="ui main text container segment">
            <div class="four wide column"></div>
            <h1>Login</h1>
                <form class="ui six wide column form segment" action="/login" method="POST">
                    <div class="field">
                        <label>Usuário</label>
                        <input type="text" name="username" placeholder="username">
                    </div>
                    <div class="field">
                        <label>Senha</label>
                        <input type="password" name="password" placeholder="password">
                    </div>
                    <input class="ui button" type="submit" value="login"> 
                </form>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        </div>
    </div>
    </body>
</html>