<% include partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">Cadastrar Residente</div>
    <form class="ui form" action="/residentes" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Nome</label>
            <input type="text" name="residente[nome]" placeholder="Nome">
        </div>
        <div class="custom-file mb-3">
            <input type="file" name="file" id=file class="custom-file-input">
            <label for="file" class="custom-file-label">Choose File</label>
        </div>
        <div class="field">
            <label>Cargo</label>
            <input type="text" name="residente[cargo]" placeholder="Cargo">
        </div>
        <div class="field">
            <label>Empresa</label>
            <input type="text" name="residente[empresa]" placeholder="Empresa">
        </div>
        <div class="field">
            <label>E-Mail</label>
            <input type="text" name="residente[email]" placeholder="E-Mail">
        </div>
        <div class="field">
            <label>Telefone</label>
            <input type="text" name="residente[telefone]" placeholder="Telefone">
        </div>
        <div class="field">
            <labe>Descrição</labe>
            <textarea name="residente[descricao]"></textarea>
        </div>
        <input class="ui purple big basic button" type="submit">
        
    </form>
</div>

<% include partials/footer.ejs %>