<% include partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">Cadastrar Startup</div>
    <form class="ui form" action="/startups" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Nome</label>
            <input type="text" name="startup[nome]" placeholder="Nome">
        </div>
        <div class="custom-file mb-3">
            <input type="file" name="file" id=file class="custom-file-input">
            <label for="file" class="custom-file-label">Choose File</label>
        </div>
        <div class="field">
            <labe>Descrição</labe>
            <textarea name="startup[descricao]"></textarea>
        </div>
        <div class="field">
            <labe>Objetivo</labe>
            <textarea name="startup[objetivo]"></textarea>
        </div>
        <div class="field">
            <labe>Projetos em Desenvolvimento</labe>
            <textarea name="startup[prjDesenvolvimento]"></textarea>
        </div>
        <div class="field">
            <labe>Projetos de Interesse</labe>
            <textarea name="startup[prjInteresse]"></textarea>
        </div>
        <div class="field">
            <labe>Área de Interesse</labe>
            <textarea name="startup[area]"></textarea>
        </div>
        <div class="field">
            <label>Site</label>
            <input type="text" name="startup[site]" placeholder="Site">
        </div>
        <input class="ui purple big basic button" type="submit">
        
    </form>
</div>

<% include partials/footer.ejs %>